body{
    background-color: grey;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: white;
    
    
  }
